<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline" routerLink="/home"></ion-icon>
      <ion-title mode="ios">STATEMENT</ion-title>
      <ion-icon slot="end" name="share-social-outline" style="margin-right: 0.5rem;"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- mpaj logo -->
    <div class="logo">
      <img src="assets/media/logo.png" alt="">
      <h3>Penyata Akaun Individu - Tahun 2021</h3>
    </div>
    <div class="bil">
      <ion-card>
        <ion-card-subtitle>Butiran Pemilik</ion-card-subtitle>
        <p>Nama</p>
        <h4>MUHAMMAD FAIZ BIN ZULKIPLI</h4>
        <p>Alamat</p>
        <h4>NO 14 JLN 1/1A, SRI TMN BARU, KG TASIK TAMBAHAN, 68000 AMPANG</h4>
        <p>No KP</p>
        <h4>950215086817</h4>
        <p>No Akaun</p>
        <h4>T-040041178-08</h4>
        <p>No Akaun Lama</p>
        <h4>11039059950</h4>
        <p>Nilai Tahunan</p>
        <h4>4,080.00</h4>
        <p>Kadar</p>
        <h4>5.50%</h4>
        <p>Taksiran Tahunan</p>
        <h4>224.40</h4>
        <p>Tarikh</p>
        <h4>01/01/2021</h4>
      </ion-card>
    </div>
    <div class="akaun">
      <ion-card>
        
        <ion-card-header>
          <ion-card-subtitle>Butiran Penyata Akaun</ion-card-subtitle>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="2"><p>Tarikh</p></ion-col>
              <ion-col size="2"><p>Bil/Resit</p></ion-col>
              <ion-col size="2"><p>Keterangan</p></ion-col>
              <ion-col size="2"><p>Amaun</p></ion-col>
              <ion-col size="2"><p>Bayaran</p></ion-col>
              <ion-col size="2"><p>Baki Akhir</p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="2"><p>01/01/2021 </p></ion-col>
            <ion-col size="2"><p></p></ion-col>
            <ion-col size="2"><p>Bayaran Lebih CTA </p></ion-col>
            <ion-col size="2"><p>-112.20</p></ion-col>
            <ion-col size="2"><p>0.00</p></ion-col>
            <ion-col size="2"><p>-112.20</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2"><p>01/01/2021 </p></ion-col>
            <ion-col size="2"><p>1040266</p></ion-col>
            <ion-col size="2"><p>Bil Cukai Taksiran</p></ion-col>
            <ion-col size="2"><p>112.20</p></ion-col>
            <ion-col size="2"><p>0.00</p></ion-col>
            <ion-col size="2"><p>0.00</p></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <br>
    </div>
  </ion-content>
</ion-app>

