<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- header -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline" routerLink="/dewan"></ion-icon>
      <ion-title>DEWAN-MAJLIS</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- apps content -->
  <ion-content >
    <div class="word">
      <p>Sila semak dan pastikan maklumat tempahan anda betul sebelum membuat bayaran tempahan.
         Sebarang pembatalan tempahan majlis hendaklah dibuat dalam tempoh 7 harı sebelum tarikh
          yang dipilih</p>
    </div>

    <ion-card>
      <ion-card-content>
        <p>Pilihan dewan</p>
        <h4>Dewan Mpaj Pandan Indah</h4>

        <p style="margin-top: 1rem;">Pilihan tarikh</p>
        <h4>31 April 2021</h4>

        <img src="assets/media/fpx.png" alt="" srcset="" routerLink="/fpx-dewan">
        <img src="assets/media/visa.png" alt="" srcset="" style="margin-left: 0.5rem;">
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>

