*{
    font-family: 'Poppins', arial;
}
ion-toolbar{
    --background: none;
    background-color: #0555B6;
    height: 4.5rem;
    

    ion-icon{
        margin-left: 1rem;
        font-size: 1.5rem;
        margin-top: 2rem;
        font-weight: 600;
    }
}
ion-title{
    margin-top: 1rem;
    
    letter-spacing: 2px;
    font-family: 'Montserrat';
}
ion-content{
    --background: none;
    background-color: #072459;
}
.word {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #fff;
}
.word p{
    color: #000;
    text-align: justify;
}
ion-card{
    --background: none;
    background-color: #fff;

    p{
        color: #000;
        font-size: 0.8rem;
    }
    h4{
        color: #000;
        font-size: 1rem;
        font-weight: 600;
    }
    img{
        margin-top: 4.5rem;
        width: 48%;
    }
}
