<ion-app>
  <ion-content>
    <!-- font-link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <!-- Logo -->
    <div class="logo">
      <img src="assets/media/logo.png" alt="" srcset="">
    </div>
    
    <div class="return-text">
      <p>Pendaftaran anda telah berjaya. Sila Log masuk dengan
        menggunakan nombor KP/Passport/SSM dan juga kata laluan
        yang telah didaftarkan untuk mula menggunakan aplikasi ini.
      </p>
    </div>
    <div class="return-btn">
      <ion-button expand="block" fill="clear">
        KEMBALI KE LOG MASUK
      </ion-button>
    </div>
    
  </ion-content>
</ion-app>

