<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- header -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline" routerLink="/profile"></ion-icon>
      <ion-title>EDIT PROFILE</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- apps content -->
  <ion-content >
    <div class="word">
      <ion-item lines="none">
        <ion-icon name="bulb-outline" class="ion-float-right"></ion-icon>
          <p>Pastikan maklumat tuan/puan dikemaskini dari semasa ke semasa untuk memudahkan urusan dan 
            perhubungan tuan dengan MPAJ
          </p>
      </ion-item>
    </div>
  <div class="profile">
    <!-- nombor pendaftaran -->
    <ion-card>
      <ion-card-header>
        <ion-label>Nombor Pendaftaran</ion-label>
        <ion-icon name="close" class="ion-float-right" routerLink="/profile"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-input type="number" placeholder="950215086817"></ion-input>
      </ion-card-content>
      <ion-card-header>
        <ion-label>Nama</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-input type="text" placeholder="Muhamad Faiz Bin Zulkipli"></ion-input>
      </ion-card-content>
      <ion-card-header>
        <ion-label>Nombor Telefon</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-input type="number" placeholder="0175157736"></ion-input>
      </ion-card-content>
      <ion-card-header>
        <ion-label>Email</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-input type="text" placeholder="faizzulkipli13@gmail.com"></ion-input>
      </ion-card-content>
      <ion-card-header>
        <ion-label>Alamat</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea placeholder="AC-4-12A JALAN PANDAN INDAH 3/6 PANDAN INDAH 55100 KUALA LUMPUR">
        </ion-textarea>
      </ion-card-content>
    </ion-card>
    
  </div>
  </ion-content>
</ion-app>

