<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <ion-header class="ion-no-border" mode="ios">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline" routerLink="/home"></ion-icon>
      <ion-title>BIL</ion-title>
      <ion-icon slot="end" name="share-social-outline" style="margin-right: 0.5rem;"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- mpaj logo -->
    <div class="logo">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <img src="assets/media/logo.png" alt="">
          </ion-col>
          <ion-col size="7">
            <p>MAJLIS PERBANDARAN AMPANG JAYA <br>
              MENARA MPAJ, JALAN PANDAN UTAMA, PANDAN INDAH,<br>
              SELANGOR, 55100 KUALA LUMPUR.</p>
          </ion-col>
          <ion-col size="3">
            <p>Telefon : 03-4296 8000 <br>
              Fax : 03-4296 8050 / 03-4296 8060 <br>
              E-mail: hotline@mpaj.gov.my</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h3>JAN - JUN 2021</h3>
    </div>

    <div class="bil-detail">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <p class="title">NAMA DAN ALAMAT PEMILIK</p>
            <p>NAMA     : MUHAMMAD FAIZ BIN ZULKIPLI</p>
            <p>ALAMAT   : NO 14 JLN 1/1A 
            SRI TMN BARU KG TASIK TAMBAHAN 68000 AMPANG.</p>
          </ion-col>
          <ion-col size="6">
            <p>NO KP :  950215086817</p>
            <p>NO BIL : 1040266</p>
            <p>KOD AKAUN : T-040041178-08</p>
            <p>AKAUN LAMA : 11039059950</p>
            <p>TARIKH : 01/01/2021</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="title">BUTIR - BUTIR HARTA </p>
            <p>ALAMAT HARTA : AC-4-12A JLN PANDAN INDAH 3/6 <br>
              PANDAN INDAH
            </p>
            <p>NO LOT : 44846</p>
            <P>NO HAKMILIK : PM3887</P>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p>NILAI TAHUNAN : 4,080.00</p>
            <p>KADAR : 5.50%</p>
            <p>TAKSIRAN TAHUNAN : 224.40</p>
            <p>TEMPOH BIL : JAN - JUN 2021</p>
            <p>TARIKH AKHIR : 28/02/2021</p>
          </ion-col>
          <ion-col size="6">
            <p class="title">BUTIR - BUTIR HARTA</p>
            <ion-item lines="none">
              <ion-label>BAYARAN LEBIH CTA</ion-label>
              <ion-label>-112.50</ion-label>
            </ion-item>
            <ion-row>
              <p class="title" style="margin-left: 0.5rem;">JUMLAH DIBIL : 0.00</p>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p class="title">JUMLAH PERLU DIBAYAR : 0.00</p></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="12">
            <p class="title">CATATAN</p>
            <p>TUAN AKAN DIKENAKAN DENDA JIKA MEMBAYAR SELEPAS 28/02/2021</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <p class="title">YANG DIPERTUA, <br> 
            MAJLIS PERBANDARAN AMPANG JAYA</p>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bil-detail">
      <ion-grid fixed>
        <ion-row>
          <h4 class="title">BIL CUKAI TAKSIRAN MAJLIS PERBANDARAN AMPANG JAYA</h4>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>NAMA : MUHAMMAD FAIZ BIN ZULKIPLI</p>
            <p>ALAMAT : AC-4-12A JLN PANDAN INDAH 3/6 . PANDAN INDAH</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p>NO. BIL : 1040266</p>
            <p>NO. AKAUN : T-040041178-08</p>
            <p>AKAUN LAMA : 11039059950</p>
          </ion-col>
          <ion-col size="6">
            <p class="title">BUTIR-BUTIR BAYARAN</p>
            <p>BAYARAN LEBIHAN CTA -112.20</p>
            <ion-row>
              <p class="title" style="margin-left: 0.5rem;">JUMLAH DIBIL : 0.00</p>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p class="title">JUMLAH PERLU DIBAYAR : 0.00</p></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- <div class="bil">
      <ion-card>
        <ion-card-subtitle>Butiran Pemilik</ion-card-subtitle>
        <p>Nama</p>
        <h4>MUHAMMAD FAIZ BIN ZULKIPLI</h4>
        <p>Alamat</p>
        <h4>NO 14 JLN 1/1A, SRI TMN BARU, KG TASIK TAMBAHAN, 68000 AMPANG</h4>
        <p>No KP</p>
        <h4>950215086817</h4>
        <p>No Bil</p>
        <h4>1040266</h4>
        <p>Kod Akaun</p>
        <h4>T-040041178-08</h4>
        <p>Akaun Lama</p>
        <h4>11039059950</h4>
        <p>Tarikh</p>
        <h4>01/01/2021</h4>
      </ion-card>
      <ion-card>
        <ion-card-subtitle>Butir-Butir Harta</ion-card-subtitle>
        <p>Alamat Harta</p>
        <h4>AC-4-12A JLN PANDAN INDAH 3/6, PANDAN INDAH</h4>
        <p>No Lot</p>
        <h4>44846</h4>
        <p>No Hakmilik</p>
        <h4>PM3887</h4>
        <p>Nilai Tahunan</p>
        <h4>4,080.00</h4>
        <p>Kadar</p>
        <h4>5.50%</h4>
        <p>Taksiran Tahunan</p>
        <h4>224.40</h4>
        <p>Tempoh Bil</p>
        <h4>JAN - JUN 2021</h4>
        <p>Tarikh Akhir</p>
        <h4>28/02/2021</h4>
      </ion-card>
      <ion-card>
        <ion-card-subtitle>Butir Bayaran</ion-card-subtitle>
        <p>Bayaran Lebih CTA</p>
        <h4>-112.20</h4>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <p>Jumlah Dibil</p>
                <p>0.00</p>
              </ion-col>
              <ion-col size="6">
                <p>Jumlah Perlu Dibayar</p>
                <p>0.00</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <p class="denda">Tuan Akan dikenakan denda jika membayar selepas 28/02/2021</p>
    </div> -->

    <!-- <div class="word"> -->
      <!-- <p>YANG DIPERTUA,</p>
      <P class="majlis">MAJLIS PERBANDARAN AMPANG JAYA</P> -->
      <!-- <h3>Bil Cukai Majlis Perbandaran Ampang Jaya</h3>
    </div> -->

    <!-- <div class="bil">
      <ion-card>
        <ion-card-subtitle>Butir-Butir Harta</ion-card-subtitle>
        <p>Nama</p>
        <h4>MUHAMMAD FAIZ BIN ZULKIPLI</h4>
        <p>Alamat Harta</p>
        <h4>AC-4-12A JLN PANDAN INDAH 3/6, PANDAN INDAH</h4>
        <p>No Bil</p>
        <h4>1040266</h4>
        <p>Kod Akaun</p>
        <h4>T-040041178-08</h4>
        <p>Akaun Lama</p>
        <h4>11039059950</h4>
      </ion-card>
      <ion-card>
        <ion-card-subtitle>Butir Bayaran</ion-card-subtitle>
        <p>Bayaran Lebih CTA</p>
        <h4>-112.20</h4>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <p>Jumlah Dibil</p>
                <p>0.00</p>
              </ion-col>
              <ion-col size="6">
                <p>Jumlah Perlu Dibayar</p>
                <p>0.00</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div> -->
  </ion-content>
</ion-app>

