*{
    font-family: 'Poppins', arial;
}
.cart-title{
    --background: none;
    background-color: #0555B6;
    height: 4.5rem;
    

    ion-icon{
        margin-left: 1rem;
        font-size: 1.5rem;
        margin-top: 2rem;
        font-weight: 600;
    }
    ion-title{
        margin-top: 1rem;
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-family: 'Montserrat';
    }
}

ion-content{
    --background: none;
    background-color: #fff;
}
.order{
    margin-top: 9rem;
}
.order img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.order-word h3{
    color: #000;
    text-align: center;
    font-weight: 600;
}
.order-word ion-progress-bar{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    border-radius: 15px;
    background-color: #0555B6;
    border: 5px solid #0555B6;
}
.order-word ion-button{
    font-family: 'Montserrat';
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #0555B6;
    margin-top: 1.5rem;
    width: 80%;
    color: #fff;
}