<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <ion-content>
    <!-- order process logo -->
    <div class="order">
      <img src="assets/media/fast-food.png" alt="">
    </div>
    <div class="order-word">
      <h3>Order anda sedang disiapkan</h3>
      <ion-progress-bar value="0.7" color="dark"></ion-progress-bar>
      <ion-button  expand="block" fill="clear" routerLink="/online-shop">
        Kembali ke laman utama
      </ion-button>
    </div>
  </ion-content>
  
</ion-app>

