<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- apps content -->
  <ion-content >
    <!-- logo -->
    <div class="logo">
      <img src="assets/media/logo.png" alt="" srcset="">
    </div>
    <div class="wallet-logo">
      <img src="assets/media/wallet.png" alt="">
      <h1>TERIMA KASIH</h1>
      <p>Bayaran anda telah diterima. Sıla semak 
        emel anda untuk dapatkan resit bayaran yang telah anda lakukan.</p>
      <ion-button expand="block" fill="clear" shape="round" routerLink="/home">
        KEMBALI KE MENU UTAMA
      </ion-button>
    </div>
  </ion-content>
</ion-app>

