<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline" routerLink="/online-shop"></ion-icon>
      <ion-title>RATING</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- rating title -->
    <div class="rating-title">
      <h3>How was your experience with Ali Maju ?</h3>
    </div>
    <div class="rating-star">
      <img src="assets/media/star-2.png" alt="" srcset=""><img src="assets/media/star-2.png" alt="" srcset="">
      <img src="assets/media/star-2.png" alt="" srcset=""><img src="assets/media/star-2.png" alt="" srcset="">
      <img src="assets/media/star-2.png" alt="" srcset="">
    </div>
    <div class="rating-subtitle">
      <p>What would you like others to know about your experience with Ali Maju ?</p>
      <!-- textarea -->
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
        <ion-button  expand="block" fill="clear" shape="round">
          Submit
        </ion-button>
    </div>
  </ion-content>
</ion-app>

