<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- header -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline" routerLink="/home"></ion-icon>
      <ion-title>PROFILE</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- apps content -->
  <ion-content >
    <div class="word">
      <ion-item lines="none">
        <ion-icon name="bulb-outline" class="ion-float-right"></ion-icon>
          <p>Pastikan maklumat tuan/puan dikemaskini dari semasa ke semasa untuk memudahkan urusan dan 
            perhubungan tuan dengan MPAJ
          </p>
      </ion-item>
    </div>
  <div class="profile">
    <!-- nombor pendaftaran -->
    <ion-card>
      <ion-card-header>
        <ion-label>Nombor Pendaftaran</ion-label>
        <ion-icon name="pencil-outline" class="ion-float-right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>950215086817</ion-label>
      </ion-card-content>
    </ion-card>
    <!-- nama -->
    <ion-card>
      <ion-card-header>
        <ion-label>Nama</ion-label>
        <ion-icon name="pencil-outline" class="ion-float-right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Muhamad Faiz Bin Zulkipli</ion-label>
      </ion-card-content>
    </ion-card>
    <!-- no tel -->
    <ion-card>
      <ion-card-header>
        <ion-label>Nombor Telefon</ion-label>
        <ion-icon name="pencil-outline" class="ion-float-right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>0175157736</ion-label>
      </ion-card-content>
    </ion-card>
    <!-- email -->
    <ion-card>
      <ion-card-header>
        <ion-label>Email</ion-label>
        <ion-icon name="pencil-outline" class="ion-float-right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>faizzulkipli13@gmail.com</ion-label>
      </ion-card-content>
    </ion-card>
    <!-- alamat -->
    <ion-card>
      <ion-card-header>
        <ion-label>Alamat</ion-label>
        <ion-icon name="pencil-outline" class="ion-float-right"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>AC-4-12A JALAN PANDAN INDAH 3/6 PANDAN INDAH 55100
          KUALA LUMPUR
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>
</ion-app>

