*{
    font-family: 'Poppins', arial;
}
ion-toolbar{
    --background: none;
    background-color: #2699FA;
    height: 4rem;
    

    ion-icon{
        margin-left: 1rem;
        font-size: 1.5rem;
        margin-top: 2rem;
        font-weight: 600;
    }
}
ion-title{
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
ion-content{
    --background: none;
    background-color: #f0f9ff;
}