<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <ion-header class="ion-no-border" mode="ios">
    <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline" routerLink="/home"></ion-icon>
      <ion-title>BIL</ion-title>
      <ion-icon slot="end" name="share-social-outline" style="margin-right: 0.5rem;"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- mpaj logo -->
    <div class="logo">
      <ion-item lines="none">
        <img src="assets/media/logo.png" alt="">
        <p>MAJLIS PERBANDARAN AMPANG JAYA
          MENARA MPAJ, JALAN PANDAN UTAMA, PANDAN INDAH,
          SELANGOR, 55100 KUALA LUMPUR.<br><br>
          Telefon : 03-4296 8000
          Fax : 03-4296 8050 / 03-4296 8060
          E-mail: hotline@mpaj.gov.my
          </p>
      </ion-item>
      <h3>This is your bil for jan-jun 2021</h3>
    </div>
    <!-- resit yg card -->
    <div class="bil">
      <ion-card>
        <ion-card-subtitle>butiran pemilik</ion-card-subtitle>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <p>Nama</p>
              <h4>MUHAMMAD FAIZ BIN ZULKIPLI</h4>
              <p>Alamat</p>
              <h4>NO 14 JLN 1/1A, SRI TMN BARU, KG TASIK TAMBAHAN, 68000 AMPANG</h4>
            </ion-col>
            <ion-col size="6">
              <p>No KP</p>
              <h4>950215086817</h4>
              <p>No Bil</p>
              <h4>1040266</h4>
              <p>Kod Akaun</p>
              <h4>T-040041178-08</h4>
              <p>Akaun Lama</p>
              <h4>11039059950</h4>
              <p>Tarikh</p>
              <h4>01/01/2021</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card>

      <ion-card>
        <ion-card-subtitle>butir-butir harta</ion-card-subtitle>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <p>Alamat Harta</p>
              <h4>AC-4-12A JLN PANDAN INDAH 3/6, PANDAN INDAH</h4>
              <p>Nilai Tahunan</p>
              <h4>4,080.00</h4>
              <p>Kadar</p>
              <h4>5.50%</h4>
              <p>Taksiran Tahunan</p>
              <h4>224.40</h4>
              <p>Tempoh Bil</p>
              <h4>JAN - JUN 2021</h4>
              <p>Tarikh Akhir</p>
              <h4>28/02/2021</h4>
            </ion-col>
            <ion-col size="6">
              <p>No Lot</p>
              <h4>44846</h4>
              <p>No Hakmilik</p>
              <h4>PM3887</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-card-subtitle>butir bayaran</ion-card-subtitle>
        <p>Bayaran Lebih CTA</p>
        <h4>-112.20</h4>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <p>Jumlah Dibil</p>
                <p>0.00</p>
              </ion-col>
              <ion-col size="6">
                <p>Jumlah Perlu Dibayar</p>
                <p>0.00</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <p class="denda">Tuan Akan dikenakan denda jika membayar selepas 28/02/2021</p>
    </div>

    <div class="word">
      <!-- <p>YANG DIPERTUA,</p>
      <P class="majlis">MAJLIS PERBANDARAN AMPANG JAYA</P> -->
      <h3>Bil Cukai Majlis Perbandaran Ampang Jaya</h3>
    </div>

    <div class="bil">
      <ion-card>
        <ion-card-subtitle>butir-butir harta</ion-card-subtitle>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <p>Nama</p>
              <h4>MUHAMMAD FAIZ BIN ZULKIPLI</h4>
              <p>Alamat Harta</p>
              <h4>AC-4-12A JLN PANDAN INDAH 3/6, PANDAN INDAH</h4>
            </ion-col>
            <ion-col size="6">
              <p>No Bil</p>
              <h4>1040266</h4>
              <p>Kod Akaun</p>
              <h4>T-040041178-08</h4>
              <p>Akaun Lama</p>
              <h4>11039059950</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-card-subtitle>butir bayaran</ion-card-subtitle>
        <p>Bayaran Lebih CTA</p>
        <h4>-112.20</h4>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <p>Jumlah Dibil</p>
                <p>0.00</p>
              </ion-col>
              <ion-col size="6">
                <p>Jumlah Perlu Dibayar</p>
                <p>0.00</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>

